<launch>
    <!-- map server -->
    <arg name="map_file" default="$(find mobile_robot_simulator)/map/glbmap.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>

    <!-- tf satic -->
    <node pkg="tf" type="static_transform_publisher" name="baselink_to_imu" args="0 0 0 0 0 0 base_link imu_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="baselink_to_gps" args="0 0 0 0 0 0 base_link gps 100" />
    <node pkg="tf" type="static_transform_publisher" name="baselink_to_laser" args="0 0 0 0 0 0 base_link laser 100" />

    <!-- Odrive Control -->
    <node pkg="odrive_motor_control" name="odrive_twist_driver" type="odrive_twist_driver.py" output="screen"/>
    <!--<node pkg="odrive_motor_control" name="odrive_simple_twist_driver_four_wheel" type="odrive_simple_twist_driver_four_wheel.py" output="screen"/>-->

    <!--keyboatd teleop publish /cmd_vel-->
    <node pkg="odrive_motor_control" name="keyboard_teleop" type="keyboard_teleop.py" output="screen"/>
   
    <!-- Joystick Control -->
    <include file="$(find joy_to_twist)/launch/joy_to_twist.launch" />
    
    <!-- Ledtape Control -->
    <include file="$(find rpi_led_tape)/launch/ledtape_control.launch" />

    <!-- Voice Control -->
    <!--<include file="$(find system_supervisor)/launch/voice_control.launch" />-->

    <!-- RPLidar S1 -->
    <include file="$(find system_supervisor)/launch/rplidar_s1.launch" />

    <!--pure_pursuit Control-->
    <include file="$(find system_supervisor)/launch/pure_pursuit.launch" />

    <!-- supervisor node -->
    <node pkg="system_supervisor" name="supervisor" type="supervisor" output="screen"/>

    <!--rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find system_supervisor)/rviz/navigation.rviz" required="true"/>
</launch>