<launch>
    <!-- Odrive Control -->
    <include file="$(find system_supervisor)/launch/odrive_control.launch" />
   
    <!-- Joystick Control -->
    <include file="$(find joy_to_twist)/launch/joy_to_twist.launch" />
    
    <!-- Ledtape Control -->
    <include file="$(find rpi_led_tape)/launch/ledtape_control.launch" />

    <!-- Voice Control -->
    <include file="$(find system_supervisor)/launch/voice_control.launch" />

    <!--pure_pursuit Control-->
    <include file="$(find system_supervisor)/launch/pure_pursuit.launch" />

    <!-- supervisor node -->
    <node pkg="system_supervisor" name="supervisor" type="supervisor" output="screen"/>

    <!--rviz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find system_supervisor)/rviz/navigation.rviz" required="true"/>
</launch>