<launch>

  <!-- Run laser scan_matcher navigation -->
  <include file="$(find laser_scan_matcher_navigation)/launch/navigation.launch" />

  <!-- Run obstacle aboidance -->
  <include file="$(find obstacle_avoidance)/launch/obstacle_avoidance.launch" />

  <!-- supervisor node  -->
  <node pkg="supervisor" name="supervisor" type="supervisor"/>
  
</launch>