<launch>
    <!-- Odrive Control -->
    <include file="$(find odrive_motor_control)/launch/odrive_keyboard_control.launch" />
   
    <!-- Led Tape Control -->
    <include file="$(find rpi_led_tape)/launch/ledtape_control.launch" />

    <!--pure_pursuit Control-->
    <include file="$(find system_supervisor)/launch/pure_pursuit.launch" />

    <!-- supervisor node -->
    <node pkg="system_supervisor" name="supervisor" type="supervisor" output="screen"/>
</launch>